In [1]:
import pandas as pd
import json

In [2]:
with open('informacoes.json', 'r') as f:
    dados_brutos = json.load(f)

In [3]:
dados_brutos

{'nome': 'João',
 'idade': 28,
 'enderecos': [{'tipo': 'casa',
   'rua': 'Rua A',
   'numero': 123,
   'cidade': 'São Paulo'},
  {'tipo': 'trabalho',
   'rua': 'Rua B',
   'numero': 456,
   'cidade': 'Rio de Janeiro'}]}

In [4]:
pd.json_normalize(dados_brutos)

   nome  idade                                          enderecos
0  João     28  [{'tipo': 'casa', 'rua': 'Rua A', 'numero': 12...

In [5]:
pd.json_normalize(dados_brutos, record_path='enderecos')

       tipo    rua  numero          cidade
0      casa  Rua A     123       São Paulo
1  trabalho  Rua B     456  Rio de Janeiro

In [6]:
pd.json_normalize(dados_brutos, record_path='enderecos', meta=['nome', 'idade'])

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28

In [7]:
informacoes = pd.json_normalize(dados_brutos, record_path='enderecos', meta=['nome', 'idade'])