In [1]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
import pandas as pd

In [2]:
engine = create_engine('sqlite:///:memory:')

In [3]:
clientes = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv')
clientes.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [4]:
clientes.to_sql('clientes', engine, index=False)

/tmp/ipykernel_18159/2948388345.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clientes.to_sql('clientes', engine, index=False)

AttributeError: 'Engine' object has no attribute 'cursor'

In [5]:
inspector = inspect(engine)

In [6]:
print(inspector.get_table_names())

['clientes']

In [ ]:
query = "update clientes set Rendimento_anual = 300000 where ID_Cliente = 6840104"
with engine.connect() as conn:
    conn.execute(query)
    conn.commit()

In [ ]:
query = "delete from clientes where ID_Cliente = 5008809"
with engine.connect() as conn:
    conn.execute(query)
    conn.commit()

In [ ]:
query = "insert into clientes (ID_Cliente, Idade, Grau_escolaridade, Estado_civil, Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, Rendimento_anual, Tem_carro, Moradia) values (6850985, 33, 'Doutorado', 'Solteiro', 1, 'Empregado', 'TI', 2, 290000, 0, 'Casa/apartamento próprio')"
with engine.connect() as conn:
    conn.execute(query)
    conn.commit()

In [ ]:
pd.read_sql_table('clientes', engine)